body {
    background-color: rgb(255, 228, 177);
}

.forumPost {
    height:auto;
    width: auto;


    display: flex;
    padding: 20px;
    margin-bottom: 10px;

    background-color: rgb(205, 137, 11);
}


.forumImage {
    width: auto;
    height: 100px;
    display: flex;
    align-self: left;
}

.forumText {
    display: flex;
    align-self: left;
    background-color: green;
    padding-left: 10px;
    padding-right: 10px;
    align-self: center;
    
}

.goldStar {
    height: 20px;
    width: 20px;
    align-self: center;
}

.goldstars {
    display: flex;
    background-color: red;

}

.comment {
    background-color: orange;
}


ul {
    list-style-type: none;
    display: flex;

}


li {
    display: flex;
    list-style: none;
    font-weight: bold;
    

    justify-content: center;
    background-color: rgb(203, 52, 22);
    margin: 5px;
    flex: 1;
    padding: 3px;

}

li:hover {
    background-color: rgb(85, 101, 134);
}

ul a:visited {
    color: yellow;
}


.indexfooter {
    background-color: silver;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: small;
}
