.index {
    background-color: #842525;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.indexfooter {
    background-color: silver;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: small;
}

.logo {
    display: flex;
    justify-content: center;
}

.logoText {
    display: flex;
    background-color: #142391;
    padding: 10px;
    border: 10px solid;
    border-color: rgb(214, 212, 54);

}


ul {
    list-style-type: none;
    display: flex;

}


li {
    display: flex;
    list-style: none;
    font-weight: bold;
    

    justify-content: center;
    background-color: rgb(113, 133, 177);
    margin: 5px;
    flex: 1;
    padding: 3px;

}

li:hover {
    background-color: rgb(85, 101, 134);
}

ul a:visited {
    color: yellow;
}


.movieCategory {
    background-color: #9b2c2c;
}


.movieTextItems {
    background-color: brown;
}

.gallery {
    border: #9b2c2c solid 20px;
    width: 100px;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
}

.gallery:hover {
    border: solid 20px #966161;

}

.movieContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.featuredMovies {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    /* padding-bottom: 30px; */
    
}

.goldstar {
    height: 20px;
    width: 20px;
    align-items: center;

    
}

.goldstars {
    background-color: rgb(60, 60, 139);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.horrorGoldStars {
    background-color: red;
    margin-bottom: 20px;
}


.FeaturedMoviesSection {
    background-color: #242323;
}

.movieTitle {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    background-color: rgba(52, 140, 218, 0.301);
    color: rgb(255, 255, 255);
}

.movieTitleHorror {
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

/* Horror related */

.horrorbody {
    background-color: rgb(19, 18, 18);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.horrorTitle {
    color: white;
    height: 80px;
}

.reviewText {
    color: white;
    
}

